@import "../../../variables";

.pokemon-list-item {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 0.75rem 0;

  &__image {
    width: 60px;
  }

  &__name {
    text-transform: capitalize;
    margin-right: 10px;
    color: $color-tertiary;
    margin-bottom: 0;
    font-size: 20px;
  }
  &__damage {
    color: $color-secondary;
    margin-bottom: 0;
    font-size: 20px;
  }

  &__button {
    width: 100px;
  }
}

@media (min-width: 576px) {
  .pokemon-list-item {
    width: 55vw;
    padding: 0.75rem 1.25rem;
  }
}


