@import "../../../variables";

.pokemon-list-item {
  margin: auto;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;

  &__image {
    width: 80px;
  }

  &__name {
    text-transform: capitalize;
    margin-right: 10px;
    color: $color-tertiary;
    margin-bottom: 0;
  }
  &__damage {
    color: $color-secondary;
    margin-bottom: 0;
  }

  &__button {
    width: 100px;
  }
}

.catch-button {
  height: 38px;
  padding: 6px;
  background: $color-secondary;
  border-radius: 5px;
  color: $color-white;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
    color: $color-white;
    transition: all 0.2s;
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
    color: $color-white;
    transition: all 0.2s;
  }

  @media (min-width: 768px) {
    max-width: 100%;
  }

  &:disabled {
    background: rgba($color-secondary, 0.5);

    &:hover {
      transform: none;
    }

    &:active {
      transform: none;
    }
  }
}



@media (min-width: 768px) {
  .pokemon-list-item__info {
    display: flex;
  }
}

@media (min-width: 576px) {
  .pokemon-list-item {
    width: 55vw;
  }
}