<mat-card class="pokemon-card" [class.pokemon-card__damaged]="isDamaged(pokemon)"
  [class.pokemon-card__not-damaged]="!isDamaged(pokemon)">
  <mat-card-header class="pokemon-card__header">
    <mat-card-title>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle class="pokemon-card__damage">Damage: {{pokemon.damage}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]='"../../../assets/pokemons/" + pokemon.id + ".png"' alt="pokemon image">
  <mat-card-actions>
    <app-catch-button [pokemon]="pokemon"></app-catch-button>
  </mat-card-actions>
</mat-card>