@import "../../../variables.scss";

.pokemon-card {
  max-width: 300px;
  border: 1px solid $color-primary;

  &__damage {
    color: $color-secondary;
  }
}

.pokemon-card__title {
  color: $color-tertiary;
  text-transform: capitalize;
  font-size: 1.75rem;
}

.pokemon-card__button {
  max-width: 100%;
}

