<div [ngSwitch]="view" class="container mt-5 mb-5">
  <div class="pokemons-page__buttons-view">
    <button class="btn btn-outline-secondary" (click)="toggleView('gallery')">Gallery</button>
    <button class="btn btn-outline-secondary" (click)="toggleView('list')">List</button>
  </div>
  <ng-template ngSwitchCase="gallery">
    <div class="row row-cols-3 justify-content-around pokemons-page__card">
      <div *ngFor="let pokemon of pokemons">
        <app-pokemon-card [pokemon]="pokemon" (catchPoke)="pokemonPageCatchOnClick(pokemon)"></app-pokemon-card>
      </div>
    </div>
  </ng-template>
  <ng-template ngSwitchCase="list">
    <ul class="list-group" *ngFor="let pokemon of pokemons">
      <app-pokemon-list-item [pokemon]="pokemon" (catchPoke)="pokemonPageCatchOnClick(pokemon)"></app-pokemon-list-item>
    </ul>
  </ng-template>
  <app-pokemon-profile [pokemon]="pokemon" (catchPoke)="pokemonPageCatchOnClick(pokemon)">
  </app-pokemon-profile>
</div>